// Variable
$website-width: 1280;
$main-color: #2b37d0;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;
$bg-image: url('../img/showcase.jpg');


// Set Text Color

@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}